<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>797641160577-o2tne1mma6v3vom5nbjjacmuauq5vhik.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.797641160577-o2tne1mma6v3vom5nbjjacmuauq5vhik</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>797641160577-drbuikc9lcejq1ce0196l836v5f34l1h.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCwAfkvK8RZY20JTDBYMYxbLjo34Flg_5U</string>
	<key>GCM_SENDER_ID</key>
	<string>797641160577</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fromthered.zempie.dev</string>
	<key>PROJECT_ID</key>
	<string>zempie-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>zempie-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:797641160577:ios:7c9978e5e9f26d84645a80</string>
</dict>
</plist>