<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>235654438895-d6nk6ptfhrbqd9okpto2gpugmnh88v6e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.235654438895-d6nk6ptfhrbqd9okpto2gpugmnh88v6e</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>235654438895-irm36ldeoqfd1sr96gpqjgsu28pcnk25.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAG6LGUyF36db9uc7tyWdSYaU-3S_241yY</string>
	<key>GCM_SENDER_ID</key>
	<string>235654438895</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fromthered.zempie</string>
	<key>PROJECT_ID</key>
	<string>zempie</string>
	<key>STORAGE_BUCKET</key>
	<string>zempie.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:235654438895:ios:5e15b5fcd1624be7c9601a</string>
	<key>DATABASE_URL</key>
	<string>https://zempie.firebaseio.com</string>
</dict>
</plist>